@use "../common/mq"as *;
@use "../common/mixin"as *;
@use "../common/variables"as *;


/*===============================================
front-css
================================================*/
.front-css__inner {
  text-align: center;
}

/*===============================================
ボタン
================================================*/
// 基本
.sample-btn__standard {
  background-color: $colorBlack;
  border          : 2px solid transparent;
  //borderをホバー時のみに付与するとホバーしたとき
  //サイズが異なってしまうためあらかじめサイズを確保するため。
  box-shadow      : 0 3px 6px rgba(0, 0, 0, .16);
  color           : $colorWhite;
  display         : inline-block;
  font-size       : 1.125rem;
  max-width       : 100%;
  padding         : 20px 10px;
  text-align      : center;
  text-decoration : none;
  transition      : .25s;
  width           : 90%;
}

.sample-btn__standard:focus,
.sample-btn__standard:hover {
  background-color: $colorWhite;
  border-color    : currentColor;
  color           : $colorBlack;
}

// 矢印
.sample-btn--arrow-right {
  background-color: $colorBlack;
  border          : 2px solid transparent;
  box-shadow      : 0 3px 6px rgba(0, 0, 0, .16);
  color           : $colorWhite;
  display         : inline-block;
  font-size       : 1.125rem;
  max-width       : 100%;
  padding         : 20px 10px;
  text-align      : center;
  text-decoration : none;
  transition      : .25s;
  width           : 90%;
  // ここから上は共通化可能
  padding-left    : 1.38em; //矢印の分の余白を確保する
  padding-right   : 2em; //左右のバランスを整えるため。
  //テキストのフォントサイズに合わせて左右の余白を決めるので単位はem。
  position        : relative;
}

.sample-btn--arrow-right::after {
  content    : '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position   : absolute;
  right      : .83em;
  top        : 50%;
  transform  : translateY(-50%);
}

.sample-btn--arrow-right:focus,
.sample-btn--arrow-right:hover {
  background-color: $colorWhite;
  border-color    : currentColor;
  color           : $colorBlack;
}

// 大ボタン
.sample-btn__large {
  background-color: $colorBlack;
  border          : 2px solid transparent;
  box-shadow      : 0 3px 6px rgba(0, 0, 0, .16);
  color           : $colorWhite;
  display         : inline-block;
  max-width       : 100%;
  padding         : 20px 10px;
  text-align      : center;
  text-decoration : none;
  transition      : .25s;
  width           : 90%;
  // ここから上は共通化
  font-size       : 1.375rem;
  //以下二つでの大ボタン用のスペースを確保する
  padding-bottom  : 25px;
  padding-top     : 25px;
}

.sample-btn__large:focus,
.sample-btn__large:hover {
  background-color: $colorWhite;
  border-color    : currentColor;
  color           : $colorBlack;
}


// 色違い(色反転)
.sample-btn__warning {
  background-color: $colorWhite;
  border          : 2px solid transparent;
  box-shadow      : 0 3px 6px rgba(0, 0, 0, .16);
  color           : $colorBlack;
  display         : inline-block;
  font-size       : 1.125rem;
  max-width       : 100%;
  padding         : 20px 10px;
  text-align      : center;
  text-decoration : none;
  transition      : .25s;
  width           : 90%;
}

.sample-btn__warning:focus,
.sample-btn__warning:hover {
  background-color: $colorBlack;
  color           : $colorWhite;
}

// バリエーション：角丸ボタン

.sample-btn__rounded {
  background-color: $colorBlack;
  border          : 2px solid transparent;
  color           : $colorWhite;
  display         : inline-block;
  font-size       : 1.125rem;
  max-width       : 100%;
  padding         : 15px 10px;
  text-align      : center;
  text-decoration : none;
  transition      : .25s;
  width           : 236px;
  // ここから上は共通化　角丸ボタン,boxshadow以外。
  border-radius   : 10px;
}

.sample-btn__rounded:focus,
.sample-btn__rounded:hover {
  background-color: $colorWhite;
  border-color    : currentColor;
  color           : $colorBlack;
}



// ダウンロード

.sample-icon__download {
  position       : relative;
  display        : inline-block;
  padding        : .2em .3em;
  border         : 1px solid currentColor;
  color          : $colorBlack;
  text-decoration: none;
  transition     : .25s;

}

.sample-icon__download::before {
  display     : inline-block;
  margin-right: .5em;
  font-family : 'Font Awesome 5 Free';
  font-weight : 900;
  // ここから上は共通
  content     : '\f019';
}

.sample-icon__download:focus,
.sample-icon__download:hover {
  background-color: $colorBlack;
  color           : $colorWhite;
}

// 拡大
.sample-icon__zoom {
  position       : relative;
  display        : inline-block;
  padding        : .2em .3em;
  border         : 1px solid currentColor;
  color          : $colorBlack;
  text-decoration: none;
  transition     : .25s;
}

.sample-icon__zoom::before {
  display     : inline-block;
  margin-right: .5em;
  font-family : 'Font Awesome 5 Free';
  font-weight : 900;
  // ここから上は共通
  content     : '\f00e';
  transform   : translateY(-6%);
}

.sample-icon__zoom:focus,
.sample-icon__zoom:hover {
  background-color: $colorBlack;
  color           : $colorWhite;
}


// ファイル名　pdf
.sample-icon__pdf::before {
  display     : inline-block;
  margin-right: .3em;
  color       : $colorBlack;
  font-family : 'Font Awesome 5 Free';
  font-weight : 400;
  content     : '\f1c1';
}

//ファイル名xls 
.sample-icon__excel::before {
  display     : inline-block;
  margin-right: .3em;
  color       : $colorBlack;
  font-family : 'Font Awesome 5 Free';
  font-weight : 400;
  content     : '\f1c3';
}


//ファイル名ppt
.sample-icon__power-point::before {
  display     : inline-block;
  margin-right: .3em;
  color       : $colorBlack;
  font-family : 'Font Awesome 5 Free';
  font-weight : 400;
  content     : '\f1c4';
}


//チェック項目
.sample-icon__check-square::before {
  display     : inline-block;
  margin-right: .3em;
  color       : $colorBlack;
  font-family : 'Font Awesome 5 Free';
  font-weight : 400;
  content     : '\f14a';
}

//戻る

.sample-icon__chevron-left::before {
  display      : inline-block;
  margin-right : .3em;
  color        : $colorBlack;
  font-family  : 'Font Awesome 5 Free';
  font-weight  : 400;
  content      : '';
  width        : .375em;
  height       : .375em;
  border-bottom: .125em solid $colorBlack;
  border-left  : .125em solid $colorBlack;
  transform    : rotate(45deg) translateY(-30%);
}


// 進む
.sample-icon__chevron-right::after {
  display     : inline-block;
  margin-left : .3em;
  color       : $colorBlack;
  font-family : 'Font Awesome 5 Free';
  font-weight : 900;
  content     : '';
  width       : .375em;
  height      : .375em;
  border-top  : .125em solid $colorBlack;
  border-right: .125em solid $colorBlack;
  // transform: rotate(45deg);
  transform   : rotate(45deg) translateY(-4px);
}


// label
.sample-label__news {
  display         : inline-block;
  padding         : .2em .3em;
  background-color: $colorBlack;
  color           : $colorWhite;
  font-size       : .75rem;
  font-weight     : bold;
}

.sample-label__news:focus,
.sample-label__news:hover {
  background-color: $colorWhite;
  border-color    : currentColor;
  color           : $colorBlack;

}

// label link

.sample-label--link {
  background-color: $colorBlack;
  display         : inline-block;
  border          : 2px solid transparent;
  color           : $colorWhite;
  font-size       : .75rem;
  font-weight     : bold;
  padding         : .2em .3em;
  text-decoration : none;
  transition      : .25s;
}

.sample-label--link:focus,
.sample-label--link:hover {
  background-color: $colorWhite;
  border-color    : currentColor;
  color           : $colorBlack;
}

// バリエーション：角丸ラベル

.sample-rounded-label {
  display         : inline-block;
  padding         : .3em .9em;
  background-color: $colorBlack;
  border-radius   : 1em;
  color           : $colorWhite;
  font-size       : .75rem;
  font-weight     : bold;
}


// warning
.sample-label__warning {
  display         : inline-block;
  padding         : .2em .3em;
  background-color: $colorBlack;
  color           : $colorWhite;
  font-size       : .75rem;
  font-weight     : bold;
}


/*===============================================
メニュー
================================================*/
.sample-heading-lv1 {
  background-color: $colorBlack;
  color           : $colorWhite;
  font-size       : 1.75rem;
  padding         : 30px 10px;
  text-align      : center;


}

.sample-heading-lv1__title {
  position : relative;
  display  : inline-block;
  transform: translateY(-20%);
}

.sample-heading-lv1__title::after {
  content         : '';
  position        : absolute;
  bottom          : -10px;
  left            : 50%;
  width           : 80px;
  height          : 1px;
  background-color: currentColor;
  transform       : translateX(-50%);
}

// レベル2
.sample-heading-lv2 {
  padding-bottom: 10px;
  border-bottom : 4px solid $colorBlack;
  font-size     : 1.75rem;
  font-weight   : bold;
}



// レベル3
.sample-heading-lv3 {
  padding-bottom: 6px;
  border-bottom : 2px solid $colorBlack;
  font-size     : 1.5rem;
  font-weight   : bold;
}

// レベル4
.sample-heading-lv4 {
  padding-left: 6px;
  border-left : 2px solid $colorBlack;
  font-size   : 1.25rem;
  font-weight : bold;
}

// レベル5
.sample-heading-lv5 {

  font-size  : 1.125rem;
  font-weight: bold;
}

// レベル6
.sample-heading-lv6 {
  font-size: 1.125rem;
}

// レベル7
.sample-caution-text {
  color: $colorDardRed;
}

// レベル8   
.sample-note-text {
  font-size: .75rem;
}


/*===============================================
ヘッダー
================================================*/

.sample-front-css__content {
  border-bottom: 1px solid $colorBlack;
}

.sample-section-header__inner {
  max-width    : 1230px;
  padding-right: 15px;
  padding-left : 15px;
  margin-right : auto;
  margin-left  : auto;
}

.sample-header-utilities {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  margin-bottom  : 40px;
}

.sample-header-utilities__logo {
  // width: 150px;
}

.sample-header-utilities__btn {
  width     : auto;
  padding   : 10px 20px;
  box-shadow: none;
}

.sample-header-nav {
  display        : flex;
  justify-content: space-around;
}

.sample-header-nav__item {
  flex-grow : 1;
  text-align: center;
}

.sample-header-nav__item:last-child .header-nav__link::after {
  content: none;
}

.sample-header-nav__link {
  position       : relative;
  display        : block;
  padding        : 15px 5px;
  border-bottom  : 4px solid transparent;
  color          : $colorDarkGray;
  text-decoration: none;
  transition     : .25s;
}

.sample-header-nav__link:focus,
.sample-header-nav__link:hover {
  border-bottom-color: $colorBlack;
}

.sample-header-nav__link::after {
  content : '';
  position: absolute;
  top     : 50%;
  right   : 0;
  width   : 1px;
  height  : 20px;

  background-color: $colorBlack;
  transform       : translateY(-50%);
}


// ヘッダー2
.sample-front-css__content2 {
  background-color: $colorWhite;

}

.sample-section-header__inner2 {

  justify-content: flex-start;
  padding-top    : 1.875rem;
  padding-bottom : 1.875rem;

  justify-content: space-between;
  align-items    : center;

  a:link,
  a {
    color: black;
  }
}


.sample-header-nav {
  align-items: center;
}


/*===============================================
ヘッダー header.php
================================================*/
//font awesome
.fa-solid {
  margin-right: 0.5rem;
}

.sample-header {
  background-color: $colorWhite;
}

.sample-header__inner {
  justify-content: flex-start;
  padding-top    : 1.875rem;
  padding-bottom : 1.875rem;

  a:link,
  a {
    color: $colorBlack;
  }
}

.sample-header__logo {
  margin-bottom: 0;
}

.sample-header-menu {
  gap: 0 20px;
}

.sample-header-nav {
  display    : flex;
  align-items: center;


  .sample-menu-item {
    a {
      &:hover {
        border-bottom: 1px solid $colorBlack;
        scale        : 1.01;
        opacity      : 0.6;
      }
    }
  }
}

.sample-search-icon {
  margin-left: 20px;
}

.sample-search-box {

  border: 1px solid;
}

/*===============================================
 ヘッダー サブメニュー　header.php
================================================*/
.sample-header-menu li {
  position: relative;
}

.sample-header-menu {
  .sample-sub-menu {
    left      : 0;
    overflow  : hidden;
    position  : absolute;
    top       : 30px;
    transition: 0.1s;
    transform : translateY(-8%);
    visibility: hidden;
    width     : 200px;
  }
}

.sample-header-menu>.sample-menu-item:hover .sample-sub-menu {
  background-color: $colorVeryLightGray;
  box-shadow      : 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  transform       : translateY(0);
  visibility      : visible;
  z-index         : 1;
}

.sample-menu-item li {
  display    : block;
  margin-left: 0;
  padding    : 0;
  padding    : 10px;

  a {
    border-bottom: $colorBlack solid 1px;
  }

}

.sample-sub-menu .fa-solid::before {
  margin-left : auto;
  margin-right: 0;
}

.sample-sub-menu .fa-solid {
  position : absolute;
  right    : 0;
  top      : 50%;
  transform: translateY(-50%);
}

.sample-inner-width {
  padding-left : 20px;
  padding-right: 20px;
  margin       : 0 auto;
}

/*===============================================
フッター
================================================*/
// .footer{ //本来はfooterクラス
.sample-front-css__content--footer {
  padding-top     : 20px;
  background-color: $colorDarkGray;
}

// .footer__inner{ //本来はfooter__innerクラス
.sample-footer__inner {
  max-width    : 1230px;
  padding-right: 15px;
  padding-left : 15px;
  margin-right : auto;
  margin-left  : auto;
}

.sample-footer-nav {
  display        : flex;
  justify-content: space-around;
}

.sample-footer-nav__item {
  flex      : 1;
  text-align: center;
}

.footer-nav__item>*:last-child {
  margin-bottom: 0;
}

.footer-nav__item:last-child .footer-nav__link::after {
  content: none;
}

.sample-footer-nav__link {
  position       : relative;
  display        : block;
  padding-top    : 15px;
  padding-bottom : 15px;
  margin-bottom  : 10px;
  color          : $colorWhite;
  text-decoration: none;
}

.sample-footer-nav__link:focus,
.sample-footer-nav__link:hover {
  text-decoration: underline;
}

.sample-footer-nav__link::after {
  content         : '';
  position        : absolute;
  top             : 50%;
  right           : 0;
  width           : 1px;
  height          : 15px;
  background-color: currentColor;
  transform       : translateY(-50%);
}

.sample-footer-child-nav__item {
  margin-bottom: 10px;
}

.sample-footer-child-nav__link {
  color: $colorVeryLightGray;

  font-size      : 15px;
  text-decoration: none;
}

.sample-footer-child-nav__link:focus,
.sample-footer-child-nav__link:hover {
  text-decoration: underline;
}

.sample-footer-copyright {
  display   : block;
  color     : $colorVeryLightGray;
  font-size : 12px;
  text-align: center;
}


.sample-footer--border-top-gray {
  border-top: 1px solid $colorGray;
}


/*===============================================
メディア
================================================*/

.sample-media {
  display    : flex;
  align-items: center;
}

.sample-media__img-wrapper {
  flex        : 0 1 27.58333%;
  margin-right: 3.33333%;
}

.sample-media__img {
  width: 100%;
}

.sample-media__body {
  flex: 1;
}

.sample-media__body>*:last-child {
  margin-bottom: 0;
}

.sample-media__title {
  margin-bottom: 10px;
  font-size    : 1.125rem;
  font-weight  : bold;
}


@media screen and (max-width: 768px) {
  .sample-media {
    display: block;
  }

  .sample-media__img-wrapper {
    margin-right : 0;
    margin-bottom: 20px;
  }
}

// 逆パターン
.sample-media--reverse {
  flex-direction: row-reverse;
}

.sample-media--reverse .sample-media__img-wrapper {
  margin-right: 0;
}

.sample-media--reverse .sample-media__body {
  margin-right: 3.33333%;
  text-align  : right;
}

@media screen and (max-width: 768px) {
  .sample-media--reverse .media__body {
    margin-right: 0;
  }
}

// バリエーション：画像半分サイズ
.sample-half-media {
  display    : flex;
  align-items: center;
}

.sample-half-media__img-wrapper {
  flex        : 0 1 48.33333%;
  margin-right: 3.33333%;
}

.sample-half-media__img {
  width: 100%;
}

.sample-half-media__body {
  flex: 1;
}

.sample-half-media__body>*:last-child {
  margin-bottom: 0;
}

.sample-half-media__title {
  margin-bottom: 10px;
  font-size    : 1.125rem;
  font-weight  : bold;
}

.half-media__text {
  /* css-wipeではスタイリングなし */
}

@media screen and (max-width: 768px) {
  .sample-half-media {
    display: block;
  }

  .sample-half-media__img-wrapper {
    margin-right : 0;
    margin-bottom: 20px;
  }
}

/*===============================================
カード
================================================*/
.sample-card {
  box-shadow   : 0 3px 6px rgba(0, 0, 0, .16);
  margin-bottom: 50px;
}

.sample-card__img-wrapper {
  position   : relative;
  padding-top: 56.25%;
  overflow   : hidden;
}

.sample-card__img {
  position : absolute;
  top      : 50%;
  width    : 100%;
  transform: translateY(-50%);
}

.sample-card__body {
  padding: 15px;
}

.sample-card__body>*:last-child {
  margin-bottom: 0;
}

.sample-card__title {
  margin-bottom: 5px;
  font-size    : 1.125rem;
  font-weight  : bold;
}

.sample-card__text {
  color: $colorGray;
}


// バッジ付き
.sample-card__badge {
  position: relative;
}

.sample-card__badge::after {
  content     : '';
  position    : absolute;
  z-index     : 1;
  top         : 0;
  left        : 0;
  width       : 0;
  height      : 0;
  border-width: 3.75rem 3.75rem 0 0;
  border-style: solid;
  border-color: $colorOrange transparent transparent transparent;
}

.sample-card__badge-text {
  position   : absolute;
  z-index    : 2;
  top        : .5rem;
  left       : .3125rem;
  color      : $colorWhite;
  font-size  : .875rem;
  font-weight: bold;

  transform: rotate(-45deg);
}

// リンク
.sample-card {
  box-shadow   : 0 3px 6px rgba(0, 0, 0, .16);
  margin-bottom: 50px;
}

.sample-card--link {
  display        : block;
  color          : currentColor;
  text-decoration: none;
  transition     : .25s;
}

.sample-card--link .sample-card__title,
.sample-card--link .sample-card__text {
  transition: .25s;
}

.sample-card--link:focus,
.sample-card--link:hover {
  opacity: .75;
}

.sample-card--link:focus .sample-card__title,
.sample-card--link:focus .sample-card__text,
.sample-card--link:hover .sample-card__title,
.sample-card--link:hover .sample-card__text {
  color          : $colorOrange;
  text-decoration: underline;
}


// 3カラム
.sample-cards {
  display  : flex;
  flex-wrap: wrap;
}

.sample-cards--col3 {
  // margin-bottom: -30px;
}

.sample-cards--col3>.sample-cards__item {
  width        : 31.707%;
  margin-right : 2.43902%;
  margin-bottom: 30px;
}

.sample-cards--col3>.sample-cards__item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .sample-cards--col3 {
    margin-bottom: -20px;
  }

  .sample-cards>.cards__item {
    width        : 100%;
    margin-right : 0;
    margin-bottom: 20px;
  }
}

// 4カラム
.sample-cards--col4 {
  margin-bottom: -20px;
}

.sample-cards--col4>.sample-cards__item {
  width        : 23.78%;
  margin-right : 1.62602%;
  margin-bottom: 20px;
}

.sample-cards--col4>.sample-cards__item:nth-of-type(4n) {
  margin-right: 0;
}


/*===============================================
テーブル
================================================*/
// 水平テーブル
.sample-horizontal-table {
  border: 1px solid $colorBlack;
}

.sample-horizontal-table__inner {
  width: 100%;
}

.sample-horizontal-table__header {
  width           : 20%;
  padding         : 15px;
  background-color: $colorVeryLightGray;
  border-bottom   : 1px solid $colorBlack;
  // border-bottom: 1px solid $colorLightGray;
  font-weight     : bold;
  vertical-align  : middle; //表セルボックスの垂直方向の配置。
}

.sample-horizontal-table__text {
  padding         : 15px;
  // border-bottom: 1px solid $colorLightGray;
  border-bottom   : 1px solid $colorBlack;

}

.sample-horizontal-table__row:last-child .sample-horizontal-table__header,
.sample-horizontal-table__row:last-child .sample-horizontal-table__text {
  border-bottom-width: 0;
}


// 拡張パターン：メディアクエリ時のスクロール

@media screen and (max-width: 768px) {
  .sample-horizontal-table--md-scroll {
    border-right-width: 0;
    overflow-x        : auto;
  }

  .sample-horizontal-table--md-scroll .sample-horizontal-table__header,
  .sample-horizontal-table--md-scroll .sample-horizontal-table__text {
    white-space: nowrap;
  }

  .sample-horizontal-table--md-scroll .sample-horizontal-table__text {
    border-right: 1px solid $colorBlack;
  }
}


// テーブル（垂直）

.sample-vertical-table {
  border: 1px solid $colorBlack;
}

.sample-vertical-table__inner {
  width       : 100%;
  text-align  : center;
  table-layout: fixed;
}

.sample-vertical-table__header-row {
  background-color: $colorVeryLightGray;
}

.sample-vertical-table__header {
  padding              : 15px;
  border-right         : 1px solid $colorBlack;
  border-bottom        : 1px solid $colorBlack;
  font-weight          : bold;
  sample-vertical-align: middle;
}

.sample-vertical-table__text {
  padding              : 15px;
  border-right         : 1px solid $colorBlack;
  border-bottom        : 1px solid $colorBlack;
  sample-vertical-align: middle;
}

.sample-vertical-table__header:last-child,
.sample-vertical-table__text:last-child {
  border-right-width: 0;
}

.sample-vertical-table__body-row:last-child .sample-vertical-table__text {
  border-bottom-width: 0;
}

@media screen and (max-width: 768px) {
  .sample-vertical-table {
    border-right-width: 0;
    overflow-x        : auto;
  }

  .sample-vertical-table__inner {
    width    : auto;
    min-width: 100%;
  }

  .sample-vertical-table__header,
  .sample-vertical-table__text {
    white-space: nowrap;
  }

  .sample-vertical-table__header:last-child,
  .sample-vertical-table__text:last-child {
    border-right-width: 1px;
  }
}

// テーブル（交差）
.sample-cross-table {
  border: 1px solid $colorBlack;
}

.sample-cross-table__inner {
  width       : 100%;
  text-align  : center;
  table-layout: fixed;
}

.sample-cross-table__header {
  padding         : 15px;
  background-color: $colorVeryLightGray;
  border-right    : 1px solid $colorBlack;
  border-bottom   : 1px solid $colorBlack;
  font-weight     : bold;
  vertical-align  : middle;
}

.sample-cross-table__text {
  padding       : 15px;
  border-right  : 1px solid $colorBlack;
  border-bottom : 1px solid $colorBlack;
  vertical-align: middle;
}

.sample-cross-table__header:last-child,
.sample-cross-table__text:last-child {
  border-right-width: 0;
}

.sample-cross-table__body-row:last-child .sample-cross-table__header,
.sample-cross-table__body-row:last-child .sample-cross-table__text {
  border-bottom-width: 0;
}

@media screen and (max-width: 768px) {
  .sample-cross-table {
    border-right-width: 0;
    overflow-x        : auto;
  }

  .sample-cross-table__inner {
    width    : auto;
    min-width: 100%;
  }

  .sample-cross-table__header,
  .sample-cross-table__text {
    white-space: nowrap;
  }

  .sample-cross-table__header:last-child,
  .sample-cross-table__text:last-child {
    border-right-width: 1px;
  }

  .sample-cross-table__header--md-sticky {
    position: -webkit-sticky;
    position: sticky;
    left    : 0;
  }
}

/*===============================================
ページャー
================================================*/

.sample-pager {
  display   : flex;
  overflow-x: auto;
}

.sample-pager__inner {
  display     : flex;
  margin-right: auto;
  margin-left : auto;
}

.sample-pager__inner>*:last-child {
  margin-right: 0;
}

.sample-pager__item {
  margin-right: 15px;
}

.sample-pager__link {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 40px;
  height         : 40px;
  border         : 1px solid currentColor;
  color          : $colorBlack;
  text-decoration: none;
  transition     : .25s;
}

.sample-pager__link:focus,
.sample-pager__link:hover {
  background-color: $colorBlack;
  color           : $colorWhite;
  opacity         : .75;
}

.sample-pager__link--active {
  background-color: $colorBlack;
  color           : $colorWhite;
  pointer-events  : none;
}

/*===============================================
タブナビゲーション
================================================*/
// リンク
.sample-tab-navigation-link__inner {
  display        : flex;
  align-items    : center;
  flex-wrap      : wrap;
  justify-content: center;
  margin-bottom  : -10px;
}

.sample-tab-navigation-link__list {
  display        : inline-block;
  padding-right  : 30px;
  padding-bottom : 10px;
  padding-left   : 30px;
  margin-bottom  : 10px;
  border-bottom  : 4px solid $colorVeryLightGray;
  color          : $colorGray;
  text-decoration: none;
  transition     : .25s;
}

.sample-tab-navigation-link__list:focus,
.sample-tab-navigation-link__list:hover {
  border-bottom-color: currentColor;
  color              : $colorOrange;
  opacity            : .75;
}

.active {
  border-bottom-color: currentColor;
  color              : $colorOrange;
  pointer-events     : none;
}


/*===============================================
タブナビゲーション メニュー
================================================*/

.sample-tab-navigation-menu {
  background-color: $colorWhite;
  margin-left     : auto;
  margin-right    : auto;
  max-width       : 960px;
}

.sample-tab-navigation-menu__inner {
  padding: 20px;
}

.sample-tab-navigation-menu__lists {
  display: flex;
}

.sample-tab-navigation-menu__list {
  display        : inline-block;
  padding-right  : 30px;
  padding-bottom : 10px;
  padding-left   : 30px;
  margin-bottom  : 10px;
  border-bottom  : 4px solid $colorVeryLightGray;
  color          : $colorGray;
  text-decoration: none;
  transition     : .25s;
}

.sample-tab-navigation-menu__list:focus,
.sample-tab-navigation-menu__list:hover {
  border-bottom-color: currentColor;
  color              : $colorOrange;
  opacity            : .75;
}

.sample-tab-navigation-menu__contents {
  padding-left: 20px;
  line-height : 40px;

}

.sample-tab-navigation-menu__content {
  display: none;

}

.menu-active {
  border-bottom-color: currentColor;
  color              : $colorOrange;
  pointer-events     : none;

}

.content-active {
  border-bottom-color: currentColor;
  pointer-events     : none;
  display            : block;
}

@media screen and (max-width: 768px) {
  .sample-tab-navigation-menu {
    overflow-x: auto;

  }
}

.sample-tab-navigation-menu__content--child {
  border-bottom: 1px solid black;

}

/*===============================================
タブナビゲーション メニュー2
================================================*/

.sample-tab-menu {
  display     : flex;
  flex-wrap   : wrap;
  padding-top : 20px;
  padding-left: 20px;

}

.sample-tab-menu-list {

  display   : block;
  background: $colorLightGray;
  margin    : 0 2px;
  padding   : 10px 20px;
  cursor    : pointer;
}

.sample-tab-menu-list.is-active {
  background: $colorWhite;
}

.sample-tab-navigation-list {
  display   : none;
  opacity   : 0;
  background: $colorWhite;
  padding   : 50px 20px;
}


.sample-tab-navigation-list.is-active {
  display            : block;
  /*表示*/
  animation-name     : displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  animation-duration : 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sample-tab-navigation-menu-2 {
  width     : 100%;
  max-width : 960px;
  margin    : 30px auto;
  background: $colorWhite;
}

.sample-tab-navigation-list h2 {
  font-size: 1.3rem;
  margin   : 0 0 20px 10px;
}

.sample-tab-navigation-list li {
  padding      : 10px;
  border-bottom: 1px solid $colorLightGray;
}


/*===============================================
  ===============================================
  ===============================================
                         JS
  ================================================
  ================================================
================================================*/


.front-js__contents {
  text-align   : center;
  margin-top   : 30px;
  margin-bottom: 30px;
}


// .front-js-archive,
.primary-contents,
.archive-contents,
.single-contents {
  min-height: 50vh;
  display   : flex;
}

// .front-js-sample-title__wrapper,

.archive__title-wrapper {
  align-items    : center;
  display        : flex;
  justify-content: center;
  padding        : 30px 0;

}

// .front-js-sample-title,
.archive-title,
.primary-title {
  color: $colorBlack;

}

/*===============================================
スライダー
================================================*/
.swiper {
  width: 70%;
}

.swiper2 {
  width: 50%;
}

.swiper-slide {
  overflow: hidden;

  img {
    width     : 100%;
    object-fit: cover;
    transform : scale(1.3);
    transition: transform 8s ease;

  }

  &::after {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgb(223 61 50 / 10%)
  }
}

.swiper-slide-active {
  &>img {
    transform: none;
  }
}

// スクロール
.scroll__child {
  color     : $colorBlack;
  position  : relative;
  height    : 60vh;
  background: linear-gradient(90deg, rgba(209, 201, 201, 1) 25%, rgba(255, 255, 255, 1) 97%);

  &:nth-of-type(2) {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 8%, rgba(209, 201, 201, 1) 94%);
  }

  &:nth-of-type(3) {
    background-color: green;

  }

}



.animate-char {
  position  : absolute;
  text-align: center;
  opacity   : 0;
  font-size : clamp(16px, 2vw, 32px);
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);


  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;

    }
  }
}

.animate-char .char {
  @include animation($name:kf-animate-chars, $duration:1s, $fill-mode:both, //アニメーション開始まではキーフレーム0%の状態にしたいため。
  );

  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      animation-delay: $i *0.07s;
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity  : 0%;
    transform: translateY(-50%);
  }

  100% {
    opacity  : 1;
    transform: translateY(0);
  }
}

// スクロール　画像
.slide-img-wrapper {
  padding: 0 20px;
}

.slide-cover {
  max-width : 1024px;
  margin-top: 30px;


  margin-left : auto;
  margin-right: auto;
  position    : relative;
  overflow    : hidden;

  &:not(:first-child) {
    margin-top: 800px;
  }

  &:last-child {
    margin-bottom: 30px;
  }

  &::after {
    content         : '';
    position        : absolute;
    z-index         : 2;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: $colorGray;
    overflow        : hidden;
    opacity         : 0;
  }

  &.inview {
    &::after {
      @include animation($name: kf-cover-slide, $duration:1.2s, $timing-function:ease-in-out);

    }
  }
}

@keyframes kf-cover-slide {
  0% {
    opacity: 1;
    left   : 0;
    right  : 100%;
  }

  50% {
    opacity: 1;
    left   : 0;
    right  : 0;
  }



  100% {
    opacity: 1;
    left   : 100%;
    right  : 0;
  }


}

.slide-cover img {
  opacity: 0;

}

.slide-cover.inview img {
  opacity: 1;

  @include animation($name: kf-img-view, $duration:1.2s, $timing-function:ease-in-out);

}

@keyframes kf-img-view {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  50.1% {
    opacity  : 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
  }
}

/*===============================================
  ===============================================
  ===============================================
                         infra
  ================================================
  ================================================
================================================*/

.infra-aws__contents {
  margin-top   : 30px;
  margin-bottom: 30px;
  padding      : 0 20px;
}

.infra-aws__content {
  margin-top   : 50px;
  margin-bottom: 50px;

}

.section__sub-title {
  text-align   : center;
  margin-top   : 20px;
  margin-bottom: 20px;
}

.sample-command {
  background-color: $colorBlack;
  color           : $colorWhite;
  padding         : 20px;
  border-radius   : 5px;
}