@use "./mq"as *;
@use "./variables"as *;


/*===============================================
共通
================================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor         : pointer;
}

.btn {
  cursor: pointer;
}

.fullwidth {
  width: 100%;
}

.inner-width {
  margin       : 0 auto;
  max-width    : 1280px;
  padding-left : 20px;
  padding-right: 20px;
  width        : 100%;
}

// .flex {
//   display: flex;
// }

input {
  width: 100%;
}

input[type="text"] {
  height      : 30px;
  padding-left: 10px;
}

h1,
h2,
h3 {
  text-align: center;
}

/*===============================================
コンテナ
================================================*/

.container {
  // 画面の高さが足りない時に高さを調整するための設定。
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

/*===============================================
モバイルメニュー
================================================*/
// メニューボタン
.mobile-menu__btn {
  cursor  : pointer;
  position: fixed;
  right   : 20px;
  top     : 35px;
  z-index : 20;

  & span {
    background-color: $colorBlack;
    border-radius   : 4px;
    display         : block;
    height          : 4px;
    margin-top      : 12px;
    transition      : transform 0.6s;
    width           : 40px;

    &:first-child {
      margin-top: 0px;
    }

    @include mq(slg) {
      display: none;
    }
  }

  &.show {
    & span {
      &:first-child {
        transform: translateY(15px) translateX(-9px) rotate(-45deg)
      }

      &:nth-child(2) {
        transform: translateX(18px) scaleX(0);
      }

      &:last-child {
        transform: translateY(-16px) translateX(-9px) rotate(45deg)
      }
    }
  }
}

.mobile-menu {
  background-color: $colorWhite;
  height          : 100%;
  position        : fixed;
  transition      : transform 0.6s;
  transform       : translateX(100%);
  z-index         : 10;

  &.show {
    transform: translateX(0%);
  }
}

// モバイル用検索
.search-form-mobile {
  margin-top  : 20px;
  margin-left : 20px;
  margin-right: auto;
  width       : 300px;
}

// モバイルインナー
.mobile-menu__inner {
  padding-top: 50px;
}

.mobile-menu__inner a {
  color    : $colorBlack;
  font-size: 24px;
}

.mobile-menu__inner .fa-solid {
  font-size: 24px;
}

.mobile-menu__inner ul {
  margin-left: 20px;
}

.mobile-menu__inner li {
  border-top  : 1px solid $colorLightGray;
  padding     : 22px 0;
  padding-left: 20px;
  position    : relative;
  width       : 90%;
}

.header-nav-mobile .sub-menu {
  display: none;

  a {
    border-bottom: none;
  }
}

/*===============================================
ヘッダー header.php
================================================*/
//font awesome
.fa-solid {
  margin-right: 0.5rem;
}

.header {
  background-color: $colorWhite;
  height          : 100px;
}

.header__inner {
  display        : flex;
  justify-content: flex-start;
  height         : inherit;

  @include mq(slg) {
    justify-content: space-between;
  }

  a:link,
  a {
    color: $colorBlack;
  }
}

.header__logo {
  align-items  : center;
  display      : flex;
  height       : inherit;
  margin-bottom: 0;
}

.header-nav {
  align-items: center;
  display    : none;

  @include mq (slg) {
    display: flex;
    height : inherit;
  }

  .menu-item {
    a {

      &:hover {
        border-bottom: 1px solid $colorBlack;
        opacity      : 0.6;
        scale        : 1.01;
      }
    }
  }
}

.header-menu {
  align-items: center;
  display    : flex;
  gap        : 0 20px;
  height     : inherit;
}

.search-icon {
  margin-left: 20px;
}

.search-box {
  border: 1px solid;
}


// パンクズ
.bread_crumb {
  margin        : 0 auto;
  max-width     : 1280px;
  padding-bottom: 20px;
  padding-left  : 20px;
  padding-right : 20px;

  & a {
    color: $colorBlack;
  }
}

/*===============================================
 ヘッダー サブメニュー　header.php
================================================*/
.header-menu li {
  position: relative;
}

.header-menu {
  .sub-menu {
    left      : 0;
    overflow  : hidden;
    position  : absolute;
    transition: 0.1s;
    visibility: hidden;
    width     : 200px;
  }
}

.header-menu>.menu-item:hover .sub-menu {
  background-color: $colorVeryLightGray;
  box-shadow      : 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  transform       : translateY(0);
  visibility      : visible;
  z-index         : 1;
}

.menu-item li {
  display    : block;
  margin-left: 0;
  padding    : 0;
  padding    : 10px;

  a {
    border-bottom: $colorBlack solid 1px;
  }
}

.sub-menu .fa-solid::before {
  margin-left : auto;
  margin-right: 0;
}

.sub-menu .fa-solid {
  position : absolute;
  right    : 0;
  top      : 50%;
  transform: translateY(-50%);
}

/*===============================================
 fv header.php
================================================*/

.fv {
  background-image   : url(/wp-content/themes/code-crew/assets/images/fv/bg.jpg);
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  height             : 500px;
  position           : relative;
  width              : 100%;
}

.fv__tagline {
  font-size : 28px;
  left      : 50%;
  position  : absolute;
  top       : 50%;
  transform : translate(-50%, -50%);
  word-break: keep-all;
  z-index   : 1;

  h2 {
    // 文字のシャドウ
    color      : $colorWhite;
    display    : inline-block;
    font-weight: bold;
    text-shadow: 2px 2px 10px $colorGray,
      -2px 2px 10px$colorGray,
      2px -2px 10px $colorGray,
      -2px -2px 10px $colorGray;
  }
}

.fv__logo {
  filter   : drop-shadow(10px 14px 15px $colorBlack);
  left     : 50%;
  position : absolute;
  top      : 50%;
  transform: translate(-50%, -50%);
}

.fv__text {
  left     : 50%;
  top      : 89%;
  transform: translate(-50%, -50%);
  position : absolute;

  img {
    filter: drop-shadow(1px 15px 16px $colorBlack);
  }
}


/*===============================================
コンセプト front-page.php
================================================*/
.concept {
  background-image   : url(/wp-content/themes/code-crew/assets/images/concept/bg.jpg);
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  height             : 100%;
  width              : 100%;
}

// .concept__text,
.concept-text {
  padding-bottom: 40px;
  padding-top   : 40px;
}

/*===============================================
最新の投稿 front-page.php
================================================*/
.posts {
  background-image   : url(/wp-content/themes/code-crew/assets/images/post/bg.jpg);
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  height             : 100%;
  width              : 100%;
}

.section-posts__bg {
  width: 100%;
}


.section__title {
  text-align: center;
  padding   : 30px 20px;
  font-size : clamp(16px, 2vw, 32px);
}

.cards--col3 {
  display: flex;
  flex-wrap      : wrap;
  gap            : 0 3%;
  justify-content: space-around;
  margin-bottom  : 50px;
}

// 上段が2つ下段が1つになった時に左寄せにするため。
.cards--col3:after {
  content: "";
  display: block;
  height : 0;
  width  : 335px;
}

.card {
  box-shadow   : 25px 19px 13px 4px $colorBlackTransparent016;
  flex         : 0 335px;
  margin-bottom: 40px;
  min-height   : 450px;
  padding-left : 10px;
  padding-right: 10px;
  text-align   : center;
}

.bg--gray {
  background-color: $colorVeryLightGray;
}

.card:hover {
  box-shadow: 0px 0px 0px 0px;
  opacity   : 0.9;
  transform : translate(0, 2px);
  transition: all 0.02s;

}

.card__title {
  padding-bottom: 50px;
  padding-top   : 20px;
}

.card__body {
  padding-bottom: 30px;
  text-align    : left;

  & a {
    color: $colorBlack;
  }
}

.thumbtack {
  padding-top: 20px;

  img {
    width : 40px;
    filter: drop-shadow(2px 6px 6px $colorBlack)
  }
}

/*===============================================
コンタクト　front-page.php
================================================*/
.section-contact {
  background-image   : url(/wp-content/themes/code-crew/assets/images/contact/bg.jpg);
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  height             : 100%;
  width              : 100%;
}

/*===============================================
フッター　footer.php
================================================*/

.footer {
  background-color: $colorBlack;
  margin-top      : auto;
}

.footer-logo {
  padding-top: 20px;
  text-align : center;
}

.footer__inner {
  display: flex;
  justify-content: center;
  margin         : 0 auto;
  padding-bottom : 20px;
  padding-left   : 0;
  padding-right  : 0;
  padding-top    : 20px;
}

footer {

  a:link,
  a {
    color: $colorWhite;
  }
}

.footer-nav__menu {
  display: flex;
  gap: 20px;
}

/*===============================================
プライバシー　privacy-policy.php
================================================*/

.privacy__inner {
  margin       : 0 auto;
  max-width    : 960px;
  padding-left : 20px;
  padding-right: 20px;
}

.privacy__sub-title-wrapper {
  align-items: center;
  padding    : 10px 0;
}

.privacy__sub-title {
  font-size   : clamp(18px, 2vw, 20px);
  padding-left: 5px;
}

/*===============================================
single-front_css.php
================================================*/
// ボタン
.front-css__contents {
  flex-wrap      : wrap;
  gap            : 0 3%;
  justify-content: space-around;
  margin-bottom  : 50px;
  display        : block;

  &:first-of-type {

    @include mq(ml) {
      display: flex;
    }
  }
}

.section__sub-title {

  &:nth-of-type(3),
  &:nth-of-type(4),
  &:last-of-type {
    display: none;

    @include mq(lg) {
      display: initial;
    }
  }
}

.front-css__contents {

  &:nth-of-type(3),
  &:nth-of-type(4),
  &:last-of-type {
    display: none;

    @include mq(lg) {
      display: initial;
    }
  }
}

.front-css__contents:after {
  content: "";
  display: block;
  height : 0;
  width  : 300px;
  /* .boxに指定したwidthと同じ幅を指定する */
}

.front-css__content {
  flex      : 0 0 300px;
  margin-top: 50px;

}

.archive-contents,
.single-contents,
.privacy {
  background-image   : url(/wp-content/themes/code-crew/assets/images/child-page-bg/bg.jpg);
  background-position: center;
  background-repeat  : repeat;
  background-size    : contain;
  height             : auto;
  padding-top        : 30px;
  padding-bottom     : 30px;
  position           : relative;
}

/*===============================================
検索　search.php
================================================*/

.search-wrapper {
  margin   : 0 auto;
  max-width: 1280px;
}

.search-result__title {
  text-align: left;
}

.search-result-wrapper {
  align-items   : center;
  display: flex;
  padding-bottom: 20px;
  padding-left  : 0;
  padding-right : 0;
  padding-top   : 20px;
}

.search-result-title {
  margin-left: 20px;
}

/*===============================================
投稿ページ　single.php
================================================*/
.single-wrapper {
  margin-left : auto;
  margin-right: auto;
  margin-top  : 30px;
  max-width   : 640px;
}


/*===============================================
コンタクトフォーム page-contact.php
================================================*/
.contact {
  margin-bottom: 30px;
}

.contact-form {
  margin-left : auto;
  margin-right: auto;
  margin-top  : 30px;
  max-width   : 100%;
  width       : 960px;
}

.contact-lead {
  margin-top: 40px;
  text-align: center;
}

.wpcf7-form-control-wrap {
  border: none;

  textarea {
    background-color: $colorLigthBlue;
    margin-top      : 5px;
    resize          : none;
    padding-left    : 10px;
    width           : 100%;
  }
}

.wpcf7-form-control-wrap input {
  background-color: $colorLigthBlue;
  height          : 35px;
  margin-bottom   : 20px;
  margin-top      : 5px;
  padding-left    : 10px;
  width           : 100%;
}

.wpcf7-form p:nth-last-child(2) {
  text-align: right;
}

.wpcf7-submit {
  background   : $colorGradientWhiteGray;
  border-radius: 5px;
  box-shadow   : 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  color        : $colorWhite;
  height       : 50px;
  width        : 100%;

  @include mq(md) {
    width: 150px;
  }
}

.wpcf7-submit:active {
  box-shadow: 0px 0px 0px 0px;
  transform : translate(0, 2px);
}

.wpcf7-spinner {
  margin: 20px -12px;
}

.contact-item {
  text-align: left;
}

.required {
  color: $colorRed;
}