/*================================================
色
================================================*/
/*------------------------------------------------
common.scss
------------------------------------------------*/


$colorBlack               :#000000;
$colorWhite               :#ffffff;
$colorVeryLightGray       :#efebeb;
$colorLightGray           :#d7d5d5;
$colorGray                :#777777;
$colorDarkGray            :#222222;
$colorLigthBlue           :#f1f5f8;
$colorGradientWhiteGray   :linear-gradient(1deg, #ffffff, 1%, #333638);
$colorRed                 :#ff0000;
$colorDardRed             :#d40152;
$colorOrange              :#e25c00;
$colorBlackTransparent016 :rgba(0, 0, 0, 0.16);




